.App {
  text-align: center;
  border: 2px solid black;
  max-width: 768px;
  margin: auto;
  margin-top: var(--size-var(--size-10px));
}

#Header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--1px-border);
}

.head-icon {
  font-size: 2em;
  margin: 0 0.938rem;
}

#SearchInput input {
  width: stretch;
  height: 2.5em;
  margin: auto;
  padding: var(--size-10px);
  border: none;
  font-size: 1.25rem;
}

#EmojiRow {
  text-align: left;
  font-size: 1.5rem;
  padding: var(--size-10px);
  border-bottom: var(--1px-border);
  border-top: var(--1px-border);
  width: stretch;
}

.emoji-row.title {
  margin-left: var(--size-10px);
}
